*{
    margin: 0;
    padding: 0;
}
#keret{
    background-color: brown;
    height: 75vh;
    width: 37.5vw;
    position: absolute;
    top: 12.5vh;
    left: 6.25vw;
}
#tabla{
    position: relative;
    background-color: burlywood;
    height: 64vh;
    width: 32vw;
    top: 5vh;
    left: 3vw;
}
.sor{
    height: 8vh;
}
.sor div{
    height: 8vh;
    width: 4vw;
    float: left;
}
.sor:nth-child(odd) div:nth-child(odd){
    background-color: black;
}
.sor:nth-child(even) div:nth-child(even){
    background-color: black;
}
.gyalog_fkt{
    background-image: url("gyalog_fkt.png");
}
.bastya_fkt{
    background-image: url("bastya_fkt.png");
}
.lo_fkt{
    background-image: url("lo_fkt.png");
}
.futo_fkt{
    background-image: url("futo_fkt.png");
}
.kiraly_fkt{
    background-image: url("kiraly_fkt.png");
}
.vezer_fkt{
    background-image: url("vezer_fkt.png");
}

.gyalog_fhr{
    background-image: url("gyalog_fhr.png");
}
.bastya_fhr{
    background-image: url("bastya_fhr.png");
}
.lo_fhr{
    background-image: url("lo_fhr.png");
}
.futo_fhr{
    background-image: url("futo_fhr.png");
}
.kiraly_fhr{
    background-image: url("kiraly_fhr.png");
}
.vezer_fhr{
    background-image: url("vezer_fhr.png");
}